[submodule "MeshFix-V2.1"]
	path = MeshFix-V2.1
	url = git@github.com:alecjacobson/MeshFix-V2.1.git
[submodule "collisiondetection"]
	path = collisiondetection
	url = git@github.com:evouga/collisiondetection.git
[submodule "eltopo"]
	path = eltopo
	url = git@github.com:leokollersacht/eltopo.git
[submodule "libigl"]
	path = libigl
	url = git@github.com:libigl/libigl.git
